<h1>Student Report</h1>
<% logger.debug "~~~ At #{__FILE__} #{__LINE__}: #{Time.now - $timer}s" %>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Courses</th>
    <th>Credits</th>
    <th>Payments</th>
    <th>Amount Due</th>
  </tr>
<% logger.debug "~~~ At #{__FILE__} #{__LINE__}: #{Time.now - $timer}s" %>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.email %></td>
    <td><%= student.phone %></td>
    <td><%= truncate(student.report_address, length: 20) %></td>
    <td><%= student.courses.select{|c| c.active?}.length %></td>
    <td><%= student.credits %></td>
    <td><%= student.payments.size %></td>
    <td><%= number_to_currency(student.balance_due) %></td>
  </tr>
<% end %>
<% logger.debug "~~~ At #{__FILE__} #{__LINE__}: #{Time.now - $timer}s" %>
</table>

<br />

<%= link_to "Export (CSV)", "#" %>
