<h1>Student Report</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Courses</th>
    <th>Credits</th>
    <th>Amount Due</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.email %></td>
    <td><%= student.phone %></td>
    <td><%= truncate(student.address.to_s, length: 20) %></td>
    <td><%= student.courses.select(&:active?).length %></td>
    <td><%= student.credits %></td>
    <td><%= number_to_currency(student.balance_due) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Export (CSV)", "#" %>
