<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @payment.student %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Paid at:</b>
  <%= @payment.paid_at %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
