<!DOCTYPE html>
<html>
<head>
  <title>Tuition</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1 class="logo">TUITION</h1>

  <%= yield %>
</div>

<div class="page-load">
  Page Load Time: <%= Time.now - $timer %>s
</div>
</body>
</html>
